{
    "printWidth": 100,
    "tabWidth": 4,
    "useTabs": false,
    "semi": false, 
    "singleQuote": true,
    "trailingComma": "none",
    "arrowParens": "avoid",
    "endOfLine": "lf",
    "overrides": [
        {
            "files": "*.ts",
            "options": {
                "bracketSpacing": true,
                "singleAttributePerLine": false // ✅ Отключает разрывы строк в интерфейсах
            }
        }
    ] 
}