.SankeyTooltip {
  position: fixed;
  padding: 10px;
  width: max-content;
  border: 1px solid rgb(204, 204, 204);
  /* var(--light-highlighted-bg) */
  background: #f6f6f6 !important;
  /* var(--color-scale-black) */
  color: #010409; 
  transition: 0.5s;
  /* var(--z-index-highest) */
  z-index: 300;
  line-height: 2;
  pointer-events: none;
}

.SankeyValueTooltip {
    /* var(--primary-text-color) */
    color: #212121;
}
  
.SankeyOutgoingTooltip {
    /* var(--chart-decrementColor) */
    color: #B22222;
}

.SankeyIncomeTooltip {
    /* var(--chart-incrementColor) */
    color: #228B22;
}
