.Sankey {
  width: 100%;
  height: 100%;
  font-size: 11px;
}

.Node {
  stroke: #212121;
  stroke-opacity: 0.5;
  stroke-width: 1px;
}

.Link {
  fill: none;
  stroke-opacity: 0.5;
}

.NodeLabel {
  pointer-events: none;
}
